<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>642209847706-9h4l1mi3sa8qv3n2kmuenm9jabvgek1b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.642209847706-9h4l1mi3sa8qv3n2kmuenm9jabvgek1b</string>
	<key>API_KEY</key>
	<string>AIzaSyA8iKOGH4GjUB0tGvkZo_OhelYSvZFjg5c</string>
	<key>GCM_SENDER_ID</key>
	<string>642209847706</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>io.sureplus</string>
	<key>PROJECT_ID</key>
	<string>sureplus-moscato</string>
	<key>STORAGE_BUCKET</key>
	<string>sureplus-moscato.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:642209847706:ios:90eb305f50f6b6864f0223</string>
</dict>
</plist>